.web-heading {
  font-family: "Montserrat";
  font-size: 1.7rem;
  padding: 20px;
  padding-top:0px;
  font-weight: 600;
  /* text-indent: 5px; */
  letter-spacing: 4px;
  z-index: 150; 
  float: center;
}

@media (max-width: 800px) {
  .web-heading {
  font-size: 1.2rem; 
  letter-spacing: 1px;
  }
}

.triangle {
  display: inline-block;
  width: 15px;
}

.centered {
  text-align: center;
}

/*removed float center from triangle and applied to entire web-heading; commented out text-indent*/