.splashscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    transition: transform 1.25s ease-in-out;
}

video {
    vertical-align: baseline;
    object-fit: contain;
    overflow: clip;
    scale: 1.5;
    
}

.hidden {
    transition: 1s cubic-bezier(0.77, 0, 0.175, 1) 0.2s;
    transform: translate(0, -100%);
    -webkit-transform: translate(-0, -100%);
}

@media (max-width: 800px) {
    .hidden {
    transform: translate (0, -300%); 
    -webkit-transform: translate (0, -300%); 
    }
}